/* body{
	margin: 0;
} */

.gallery{
	display: none;
	grid-template-columns: repeat(4, 1fr);
	grid-row-gap: 20px;
	grid-column-gap: 10px;
	/* background-color: PINK; */
	justify-content: center;
	align-content: center;
	/* height: 100vh; */
}

.content img{
	max-width: 90%;
	max-height: 90%;
	/* width: 250px;
	height: 200px; */
	cursor: pointer;
}

/* .photo_header{
	text-align: center;
} */

.photo_header span{
	width : 100%;
	display: block;
	cursor: pointer;
	/* font-style: italic; */
	text-align: center;
	/* color: BLUE; */
	/* font-family: fantasy; */
	font-size: 24px;
	font-kerning: normal;
}

.photo_header p{
	font-size: 12px;
	font-family: sans-serif;
}

#lightbox{
	position: fixed;
	z-index: 1;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	display: none;
}

#lightbox.active{
	display: flex;
	margin:0;
	justify-content: center;
	align-items: center;
}

#lightbox img{
	max-width: 90%;
	max-height: 90%;
	padding: 4px;
	border-color: BLACK;
	border: 2px solid WHITE;
}
