.data{
	display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
	text-overflow: ellipsis;
}

td{
	text-align: center;
	width: 1%;
}

table{
	table-layout: fixed;
    margin: auto;
	empty-cells: show;
	border:0px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.tablehead{
	/* font-style: italic; */
	text-align: center;
	/* color: #1a001a; */
	/* font-family: monospace; */
	font-size: 24px;
	font-kerning: normal;
}

.tablecontent {
	/* display: none; */
	text-align: center;
	/* background-color: #fcfcfc; */
	visibility: visible;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 1s;
}

.tablecontent td:hover {
  /* background-color: #fafafa; */
  font-size: 17px;
  transition-property: font-size;
  transition-duration: .2s;
}
