<footer class="site-footer h-card">
	<!-- <style media="screen">
		a.u-email:link {color: #1756A9}
		/* a.u-email:active {color: #383838} */
		a.u-email:visited {color: #9f9f9f}
		a.u-email:hover {color: #bb00bb}
	</style> -->

  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
			<li><strong id="svok33-change-theme" onclick = "change_theme()" style="cursor: pointer;">
				<!-- use localStorage to get the text here; runs only on first load, subsequent changes use change_theme() -->
				<script>
					if(localStorage['svok33-github-theme'] == 'light'){
						document.getElementById('svok33-change-theme').textContent = "Dark theme";
					}
					else{
						document.getElementById('svok33-change-theme').textContent = "Light theme";
					}
				</script>
			</strong></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
