<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class = "light-theme">
	  <!-- apply theme here; onload will cause flashing and since body tag is being changed, needs to happen here -->
	 <script>
	   apply_theme();
	 </script>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
