---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
	  <br>
	  {{ page.categories | join: ', ' }}
  	</p>

  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <table style="margin:auto;table-layout: fixed; border:0px; font-size:20px;">
	  <tr>
		  <td style="text-align: left; border: none;padding: 0;">
			  {%- if page.previous -%}
				  <a href={{ page.previous.url }} style={float:left;}> Previous </a>
			  {%- endif -%}
		  </td>
		  <td style="text-align: center; border: none;padding: 0;">
			  <a href="/random.html">Random</a>
		  </td>
		  <td style="text-align: right; border: none;padding: 0;">
			  {%- if page.next -%}
				  <a href={{ page.next.url }} style={float:right;right:0;}> Next </a>
			  {%- endif -%}
		  </td>
	  </tr>
  </table>
  <br>

  <hr>
  <h3>Recent</h3>
  <!-- space-between takes care of when there are less than 3 posts pretty neatly -->
  <div style="display:flex; justify-content:space-between;">
	  <!-- site.posts stores it from latest to oldest, it parses limit:3 before reversing -->
	  {%- for post in site.posts reversed limit:3-%}
		  <div>
			  <a href={{ post.url }}>{{ post.title }}</a>
			  <!-- use the font size and colour provided for meta-data in _layout.scss -->
			  <p class="post-meta">{{ post.date | date: date_format}}</p>
		  </div>
	  {%- endfor -%}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
